# Виртуальное окружение
venv/

# Кэш Python
__pycache__/
*.pyc

# Конфиденциальные файлы
.env

# Настройки IDE
.idea/bot_database.db
bot_database.db
*.db
*.sqlite
*.db-journal
.idea/
__pycache__/
*.pyc
.env
venv/
